.DS_Store
*.pyc
.idea/*
*.gv
*.gv.pdf
*.gv.svg
*.db
.cache
node_modules/*
node_modules
typings/*
typings
build/*
bower_components/*
bower_components
.tmp
.tmp/*
dist
dist/*
.eslintrc
npm-debug.log
.sh
.py

/bower_components/*